body {
  background: linear-gradient(90deg, #cfecd0, #ffc5ca);
}

span {
  display: inline-block;
}

.wrapper {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 116px);
  gap: 50px 20px;
  justify-content: center;
}

.card-city {
  font-family: "Inter", sans-serif;
  text-align: center;
  background-color: #fff;
  width: 100px;
  height: 120px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 20px 16px 60px;
}

.title {
  font-size: 8px;
  margin-top: 10px;
}

.in-city {
  font-size: 12px;
}

.time-description {
  font-size: 10px;
  opacity: 0.7;
}

.icon-city {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  border-radius: 30px;
}

.card {
  font-family: "Inter", sans-serif;
  text-align: center;
  background-color: #fff;
  width: 100px;
  height: 120px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 28px 15px 31px 22px;
}

.icon {
  width: 20px;
  display: block;
  margin: auto;
}

.day-of-the-week {
  font-size: 10px;
  margin-top: 10px;
}

.date {
  font-size: 9px;
}

.temperature {
  font-size: 12px;
}

.weather-description {
  font-size: 7px;
  opacity: 0.7;
}
